@use './variables' as *;

@mixin selfActiveLink {
  transition: all $transitionTimeMs;
  @media #{$hoverMediaRules} {
    &:hover {
      opacity: $hoverOpacity;
    }
  }
}

@mixin basicActiveLink {
  button,
  a {
    @include selfActiveLink;
  }
}

@mixin activeLink {
  @include basicActiveLink;
  button,
  a {
    @media #{$hoverMediaRules} {
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}
