@use 'sass:color';

@use 'variables' as *;
@use 'utils' as *;

:root {
  --themeBgColor: #{hexColor($themeBgColor)};
  --themeBgRGB: #{rgbComponents($themeBgColor)};

  --primaryColor: #{hexColor($primaryColor)};
  --primaryRGB: #{rgbComponents($primaryColor)};

  --themePinkDarkColor: #{hexColor($themePinkDarkColor)};
  --themePinkDarkRGB: #{rgbComponents($themePinkDarkColor)};
  --themePinkColor: #{hexColor($themePinkColor)};
  --themePinkRGB: #{rgbComponents($themePinkColor)};
  --themePinkLightColor: #{hexColor($themePinkLightColor)};
  --themePinkLightRGB: #{rgbComponents($themePinkLightColor)};
  --themePinkLightestColor: #{hexColor($themePinkLightestColor)};
  --themePinkLightestRGB: #{rgbComponents($themePinkLightestColor)};
  --themePinkDarkestColor: #{hexColor($themePinkDarkestColor)};
  --themePinkDarkestRGB: #{rgbComponents($themePinkDarkestColor)};

  --themeBlueDarkColor: #{hexColor($themeBlueDarkColor)};
  --themeBlueDarkRGB: #{rgbComponents($themeBlueDarkColor)};
  --themeBlueColor: #{hexColor($themeBlueColor)};
  --themeBlueRGB: #{rgbComponents($themeBlueColor)};
  --themeBlueLightColor: #{hexColor($themeBlueLightColor)};
  --themeBlueLightRGB: #{rgbComponents($themeBlueLightColor)};
  --themeBlueLightestColor: #{hexColor($themeBlueLightestColor)};
  --themeBlueLightestRGB: #{rgbComponents($themeBlueLightestColor)};
  --themeBlueDarkestColor: #{hexColor($themeBlueDarkestColor)};
  --themeBlueDarkestRGB: #{rgbComponents($themeBlueDarkestColor)};

  --themeGreenColor: #{hexColor($themeGreenColor)};
  --themeGreenRGB: #{rgbComponents($themeGreenColor)};
  --themeGreenDarkColor: #{hexColor($themeGreenDarkColor)};
  --themeGreenDarkRGB: #{rgbComponents($themeGreenDarkColor)};
  --themeGreenLightColor: #{hexColor($themeGreenLightColor)};
  --themeGreenLightRGB: #{rgbComponents($themeGreenLightColor)};

  // --defaultFont: #{$defaultFont};
  // --titleFont: #{$titleFont};
  // --defaultFontSize: #{$defaultFontSize};
  //
  // --transitionTimeMs: #{$transitionTimeMs};
  // --animationTimeMs: #{$animationTimeMs};
  // --disappearTimeMs: #{$disappearTimeMs};
}
