@use 'sass:color';

@use 'variables' as *;

@function rgbComponents($color) {
  @return color.channel($color, 'red', $space: rgb) color.channel($color, 'green', $space: rgb)
    color.channel($color, 'blue', $space: rgb);
}

:root {
  --themeBgColor: #{$themeBgColor};
  --themeBgRGB: #{rgbComponents($themeBgColor)};

  --primaryColor: #{$primaryColor};
  --primaryRGB: #{rgbComponents($primaryColor)};

  --themeOrangeColor: #{$themeOrangeColor};
  --themeOrangeRGB: #{rgbComponents($themeOrangeColor)};

  --themeBlueDarkColor: #{$themeBlueDarkColor};
  --themeBlueDarkRGB: #{rgbComponents($themeBlueDarkColor)};
  --themeBlueColor: #{$themeBlueColor};
  --themeBlueRGB: #{rgbComponents($themeBlueColor)};
  --themeBlueLightColor: #{$themeBlueLightColor};
  --themeBlueLightRGB: #{rgbComponents($themeBlueLightColor)};
  --themeBlueLightestColor: #{$themeBlueLightestColor};
  --themeBlueLightestRGB: #{rgbComponents($themeBlueLightestColor)};
  --themeGreenColor: #{$themeGreenColor};
  --themeGreenRGB: #{rgbComponents($themeGreenColor)};
  --themeGreenLightestColor: #{$themeGreenLightestColor};
  --themeGreenLightestRGB: #{rgbComponents($themeGreenLightestColor)};

  --defaultFont: #{$defaultFont};
  --titleFont: #{$titleFont};
  --defaultFontSize: #{$defaultFontSize};

  --transitionTimeMs: #{$transitionTimeMs};
  --animationTimeMs: #{$animationTimeMs};
  --disappearTimeMs: #{$disappearTimeMs};
}
