@use 'sass:color';

$themePinkColor: #fabbcb; // Active color

$themeBlueLightColor: #bbdde6;
$themeBlueColor: color.adjust($themeBlueLightColor, $lightness: -10%);
$themeBlueDarkColor: color.adjust($themeBlueLightColor, $lightness: -20%);
$themeBlueLightestColor: color.adjust($themeBlueLightColor, $lightness: 10%);
$themeBlueDarkestColor: color.adjust($themeBlueDarkColor, $lightness: -20%);

$themeGreenColor: #d9ea9a;
$themeGreenDarkColor: color.adjust($themeGreenColor, $lightness: -10%);
$themeGreenLightColor: color.adjust($themeGreenColor, $lightness: 10%);

$primaryColor: $themePinkColor;

$themeGrayColor: #333;
$themeBgColor: $themeGrayColor;

$socialIconSize: 32px;
$socialIconSmallSize: 22px;

$headerColor: #666;

// Delays

$transitionTimeMs: 250ms;
$animationTimeMs: 500ms;
$disappearTimeMs: 1000ms;

// Hovers

$hoverOpacity: 0.75;

// Fonts

$defaultFont: Montserrat, Arial, sans-serif;
$titleFont: $defaultFont;
$defaultFontSize: 16px;

// Adaptive layouts...

$extraWideTreshold: 1400px;
$wideTreshold: 1200px;
$mobileTreshold: 960px; // Mobile treshold
$smallTreshold: 640px;

// Hover media constant, use as `@media #{$hoverMediaRules} { &:hover { ... } }`
$hoverMediaRules: '(hover: hover) and (pointer: fine)';
