@use 'sass:color';

@use '../variables' as *;

/*! Blog */

#allrecords .uc-Blog {
  // @include activeLink;
  .t-feed__col-grid__post-wrapper {
    border-radius: 10px;
    border: 1px solid color.change(#000, $alpha: 0.1);
    overflow: hidden;
    @media #{$hoverMediaRules} {
      transition: all $transitionTimeMs;
      &:hover {
        opacity: $hoverOpacity;
      }
    }
  }
}
