@use 'sass:color';

@use '../variables' as *;

/*! NavHeaderNew */

.uc-NavHeaderNew {
  // Link hovers...
  @include basicActiveLink;
  // Background color
  .t-menu-base {
    transition: all $transitionTimeMs;
  }
  #allrecords & .t-menu-base__maincontainer {
    background-color: transparent !important;
  }
  #allrecords & .tmenu-mobile:not(.tmenu-mobile_opened),
  #allrecords & .t-menu-base:not(.t-menu-base__burgermenu_opened) {
    // NOTE: OVER_HERO: Hide the background if it's over the hero banner
    background-color: color.change($themeBlueColor, $alpha: 0) !important;
    backdrop-filter: none;
  }
  #allrecords &:not(.onHero) .tmenu-mobile,
  #allrecords & .t-menu-base__burgermenu_opened,
  #allrecords &:not(.onHero) .t-menu-base {
    background-color: color.change($themeBlueColor, $alpha: 0.7) !important;
    backdrop-filter: blur(10px);
  }
  #allrecords & .tmenu-mobile_opened .tmenu-mobile__container {
    background-color: $themeBlueColor !important;
  }
  // Adjust social icon sizes
  .t-sociallinks {
    a,
    img {
      width: $socialIconSize !important;
      height: $socialIconSize !important;
    }
  }
  // Nenu items...
  .t-menu__list {
    gap: 0.5em;
  }
  #allrecords & a.t-menu__link-item {
    transition: all $transitionTimeMs;
    padding: 0.4em 0.8em;
    border-radius: 20px;
    background-color: color.change($themeBlueColor, $alpha: 0.5);
  }
  @media #{$hoverMediaRules} {
    a:hover {
      opacity: $hoverOpacity;
    }
    button.t-menuburger:hover span {
      opacity: $hoverOpacity;
    }
    // The real selector: .t-menu__link-item:not(.t-active):not(.tooltipstered):hover
    #allrecords & .t-menu__list a.t-menu__link-item:hover {
      color: #fff !important;
      opacity: 1;
      background-color: $themeBlueColor;
    }
  }
  @media (width >= $wideTreshold) {
    .t-menu-base__maincontainer {
      padding: 0;
    }
  }
  // Narrow (mobile) screens...
  @media (width < $mobileTreshold) {
    .tmenu-mobile__container {
      gap: 1em;
    }
    // Left (logo) section
    .t-menu-base__logowrapper {
      #allrecords & img {
        max-width: 100%;
      }
    }
  }
  // Wide (desktop) screens...
  @media (width >= $mobileTreshold) {
    // Menu container
    .t-menu-base__maincontainer {
      // border: 1px solid red; // DEBUG
    }
    // Left (logo) section
    .t-menu-base__logowrapper {
      max-width: none !important;
      flex: unset !important;
    }
    // Middle menu wrapper
    #allrecords & .t-menu-base__leftwrapper {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      .t-menu-base__list {
        flex-wrap: nowrap;
      }
    }
    // Right social icons wrapper
    .t-menu-base__rightwrapper {
      // border: 1px solid yellow; // DEBUG
    }
  }
}
