@use 'sass:color';

@use '../variables' as *;

/*! ShopIcons */

#allrecords {
  .t706__carticon-imgwrap,
  .t1002__wishlisticon-imgwrap {
    // @include selfActiveLink;
    transition: all $transitionTimeMs;
    background-color: color.change(#fff, $alpha: 0.2);
    @media #{$hoverMediaRules} {
      &:hover {
        background-color: color.change($themeBlueColor, $alpha: 0.3);
      }
    }
  }
  &.with-wishlist {
    .t706__carticon {
      // Move one of the icons a bit left if there already is the another icon, to provide space for it
      right: 100px !important;
    }
  }
}
