@use '../variables' as *;

/*! SubPage */

#allrecords {
  .uc-SubPageHeader {
    @include basicActiveLink;

    // Page header with a 'Back' button
    .t-container {
      .t-col:nth-child(1) {
        font-size: 1.5em;
        text-transform: uppercase;
      }
      // t185__butwrapper
      .t-col:nth-child(2) {
        display: flex;
        @media (width > $mobileTreshold) {
          justify-content: flex-end;
        }
      }
    }
  }

  // // Blog post title // Disable for blog post cards (`.t-feed__textwrapper .js-feed-post-title`)
  // .js-feed-post-title {
  //   font-weight: 300;
  //   font-size: 38px;
  //   @media (width < $smallTreshold) {
  //     font-size: 30px;
  //   }
  // }
  // .js-feed-post-title, // Disable for blog post cards (`.t-feed__textwrapper .js-feed-post-title`)
  .t-feed__post-popup__date-parts-wrapper {
    text-align: center;
    justify-content: center;
  }
  // Blog post top padding
  .t-feed__post-popup__container {
    padding-top: 20px;
  }

  // Adjust product and blog post pages top padding
  .t-store.t-store__prod-snippet__container {
    padding-top: 50px;
  }

  // Inner product card
  .js-store-product.js-product {
    @include basicActiveLink;
    .t-slds__arrow {
      @media #{$hoverMediaRules} {
        transition: all $transitionTimeMs;
        &:hover {
          background-color: $themeBlueLightColor !important;
          opacity: 1;
        }
      }
    }
    // Product price
    .js-product-price {
      font-size: 2em;
    }
    .js-product-price,
    .t-store__prod-popup__price-currency {
      vertical-align: baseline;
    }
  }

  // Product images
  .t-slds__container,
  .t-slds__bgimg {
    border-radius: 10px;
  }
  .t-slds__thumbsbullet-border,
  .t-slds__thumbsbullet .t-slds__bgimg {
    border-radius: 5px;
  }
  .t-slds__bullet_active .t-slds__thumbsbullet-border {
    border-color: $themePinkLightColor;
  }

  // Blog post image
  .t-feed__post-popup {
    .t-feed__post-popup__cover-wrapper {
      img {
        border-radius: 10px;
      }
    }
  }
}

// Carousel popup controls
.t-zoomer__wrapper {
  .t-zoomer__ui-item,
  .t-zoomer__scale,
  .t-zoomer__close {
    @media #{$hoverMediaRules} {
      transition: all $transitionTimeMs;
      &:hover {
        background-color: $themeBlueLightColor !important;
        opacity: 1;
      }
    }
  }
  .t-carousel__zoomer__control {
    &,
    .t-carousel__zoomer__arrow__wrapper,
    .t-carousel__zoomer__arrow__wrapper:before {
      transition: all $transitionTimeMs;
    }
    @media #{$hoverMediaRules} {
      &:hover {
        opacity: 1;
        .t-carousel__zoomer__arrow__wrapper {
          &:before {
            background-color: $themeBlueLightColor !important;
          }
        }
      }
    }
  }
  // Image
  .t-carousel__zoomer__img {
    border-radius: 10px;
  }
}
